<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<h2><%= link_to "creat new task", new_task_path %></h2>

<% @tasks.each do |task| %>
  <h2>
    <%= link_to task.title, task_path(task) %>
    <p><%= task.status %></p>
  </h2>

  <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?"} %>
<% end %>






